@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.Name</h3>
<h4>Release Date: @Model.ReleaseDate.ToShortDateString()</h4>
<h4>Date Added: @Model.DateAdded.ToShortDateString()</h4>
<h4>Number In Stock: @Model.NumberInStock</h4>
<h4>Genre: @Model.Genre.Name</h4>
