@model Vidly.ViewModels.MovieFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(vm => vm.Name)
        @Html.TextBoxFor(vm => vm.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.ReleaseDate)
        @Html.TextBoxFor(vm => vm.ReleaseDate, "{0: d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.GenreId)
        @Html.DropDownListFor(vm => vm.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.NumberInStock)
        @Html.TextBoxFor(vm => vm.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.NumberInStock)
    </div>
    @Html.HiddenFor(vm => vm.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")    
}
